{% extends "layout.html" %}

{% block body %}
  {% if session.username %}
  <h3>Connections</h3>
        <table class="scroll">
    <thead>
        <tr>
            <th>Agent</th>
            <th>Disconnect</th>
        </tr>
    </thead>
    <tbody class="scroll">
    {% for agent in verified_neighbors %}
      <tr>
        <td> {{ agent.agent_name }} </td>
        <td> 
        
        <input type="checkbox" class="sugg" name="{{ agent.groupme_id }}" value="{{ agent.groupme_id }}">
        
        </td>
      </tr>
    {% else %}
      You currently are not connected to any other agents. Register connections
      to agents you can easily meet with for gear exchange suggestions.
    {% endfor %}
    </tbody>
    </table>
  
  <h3>Suggested Connections</h3>
  
    Please indicate agents for whom it would not be a significant inconvenience
    for you to meet to exchange gear.
    
    <!--
        Should add an option to specify/filter which groups to consider.
        A good approach would probably be a form listing the user's groups with 
        multi-select radio buttons they can use to specify which groups to get
        suggestions from, then we can populate suggestions based on the user's
        specification.
    -->
    <br>
    <br>
        
    <form id="new_connections" name="new_connections" method="post" action="{{ url_for('_submit_new_connections') }}">
    <table class="scroll">
    <thead>
        <tr>
            <th>Connect</th>
            <th>GroupMe Nickname</th>
            <th># groups in common</th>
            <th>Shared groups</th>
        </tr>
    </thead>
    <tbody class="scroll">
    <input type="submit" value="Submit_BUTTON!!">
    {% for suggestion in suggestions %}
        <tr>
            <td>
              <select id="new_agent_id" class="sugg" name="{{ suggestion.id }}">
                <option value></option>
                <option value="6"><6 hrs</option>
                <option value="12"><12 hrs</option>
                <option value="24"><24 hrs</option>
                <option value="48"><48 hrs</option>
                <option value="72"><72 hrs</option>
                <option value="168"><1 week</option>
              </select>
            </td>
            <td>{{ suggestion.nickname |join('<br>') | safe}}</td>
            <td>{{ suggestion.n_groups }}</td>
            <td>{{ suggestion.groups |join('<br>') | safe}}</td>
        </tr>
    {% else %}
        Unable to get your GroupMe groups. Try reloading the page.
    {% endfor %}
    </tbody>
    </table>
    </form>
  
  {% endif %}
  
{% endblock %}
