{% extends "layout.html" %}

{% block body %}
  {% if session.username %}
  <h3>Connections</h3>
    <ul>
    {% for agent in verified_neighbors %}
      <li> {{ agent.agent_name }} </li>
    {% else %}
      You currently are not connected to any other agents. Register connections
      to agents you can easily meet with for gear exchange suggestions.
    {% endfor %}
    </ul>
  
  <h3>Suggested Connections</h3>
  
    Please indicate agents for whom it would not be a significant inconvenience
    for you to meet to exchange gear.
    
    <!--
        Should add an option to specify/filter which groups to consider.
        A good approach would probably be a form listing the user's groups with 
        multi-select radio buttons they can use to specify which groups to get
        suggestions from, then we can populate suggestions based on the user's
        specification.
    -->
    <br>
    <br>
    
    <button type="button" id="submit_new_conn">Submit</button>
    
    <table class="scroll">
    <thead>
        <tr>
            <th>Connect</th>
            <th>GroupMe Nickname</th>
            <th># groups in common</th>
            <th>Shared groups</th>
        </tr>
    </thead>
    {% for suggestion in suggestions %}
        <tr>
            <td>
                <input type="checkbox" name="{{ suggestion.id }}" value="{{ suggestion.id }}">
            </td>
            <td>{{ suggestion.nickname |join('<br>') | safe}}</td>
            <td>{{ suggestion.n_groups }}</td>
            <td>{{ suggestion.groups |join('<br>') | safe}}</td>
        </tr>
    {% else %}
        You aren't in any GroupMe groups with agents in them. That's... weird. 
        If you believe you are seeing this message in error, please contact the 
        site administrator and describe the circumstances underwhich you saw 
        this message.
    {% endfor %}
    </table>
  
    <script>
    var collect_ids = function(){
        var ids = [];
        jQuery('input:checked').each(function(){
           ids.push(jQuery(this).val());
        });
        console.log(ids)
        return(ids);
    };
    
    $(function() {
      $('button').bind('click', function() {        
        $.getJSON($SCRIPT_ROOT + '/_submit_new_connections', {
        groupme_ids: collect_ids
          }, function(data) { return false;
        });
      });
    });
    </script>
  
  {% endif %}
  
{% endblock %}