{% extends "layout.html" %}

{% block body %}
  {% if session.username %}
  
  <!-- These variables should probably be defined in a separate template that extends this one -->
  {% set conv_map_tuples = [(6,'<6 hrs'),
                            (12,'<12 hrs'),
                            (24,'<24 hrs'),
                            (48,'<48 hrs'),
                            (72,'<72 hrs'),
                            (168,'<1 week'),
                            (336,'>1 week')
                            ]
  %}
  
  {% set convenience_map = dict(conv_map_tuples) %}
  
  {% if verified_neighbors %}
    {% include "list_verified_connections.html" %}
  {% endif %}
  
  {% if unverified_neighbors %}
    {% include "list_unverified_connections.html" %}
  {% endif %}
  
  <!-- This should probably be a separate template -->
  <h3>Suggested Connections</h3>
  
    Please indicate agents for whom it would not be a significant inconvenience
    for you to meet to exchange gear.
    
    <!--
        Should add an option to specify/filter which groups to consider.
        A good approach would probably be a form listing the user's groups with 
        multi-select radio buttons they can use to specify which groups to get
        suggestions from, then we can populate suggestions based on the user's
        specification.
    -->
    <br>
    <br>
        
    <form id="new_connections" name="new_connections" method="post" action="{{ url_for('_submit_new_connections') }}">
    <table class="scroll table table-striped">
    <thead>
        <tr>
            <th>Est. time req'd to meet</th>
            <th>GroupMe Nicknames</th>
            <th># Groups in common</th>
            <th>Shared groups</th>
        </tr>
    </thead>
    <tbody class="scroll">
    <input type="submit" name="btn" value="Submit New Connections">
    {% for suggestion in suggestions %}
        <tr>
            <td>
              <select class="sugg" name="{{ suggestion.id }}">
                <option value></option>
                {% for val,descr in conv_map_tuples %}
                    <option value={{val}}>{{descr}}</option>
                {% endfor %}
              </select>
            </td>
            <td>{{ suggestion.nickname |join('<br>') | safe}}</td>
            <td>{{ suggestion.n_groups }}</td>
            <td>{{ suggestion.groups |join('<br>') | safe}}</td>
        </tr>
    {% else %}
        Unable to get your GroupMe groups. Try reloading the page.
    {% endfor %}
    </tbody>
    </table>
    </form>
  
  {% endif %}
  
{% endblock %}
