{% extends "layout.html" %}
{% block body %}

  {% if session.username %}
    
    <h2>Welcome!</h2>
    
    ENL Supply chain is a tool for connecting agents who have a surplus of inventory 
    with agents looking for those items. 
    <br>
    <br>
    <h3><a href="{{ url_for('update_inventory') }}">Manage Inventory</a></h3>
      <ul>Specify your inventory demands or excess supply.</ul>
    <h3><a href="{{ url_for('connections') }}">Manage Connections</a></h3>
      <ul>Connect to agents in your GroupMe groups who you have "!met" so we can link you to trade gear.</ul>
    <h3><a href="{{ url_for('supply_me') }}">Find Me Gear!</a></h3>
      <ul>You've listed what you need: here's where you get the hook up</ul>
    <h3><a href="{{ url_for('supply_team') }}">Who needs my gear?</a></h3>
      <ul>At cap? Don't recycle that gear, these agents need it!</ul>
    </ul>
    
  {% else %}
    {% include "login.html" %}
  {% endif %}
{% endblock %}