{% extends "layout.html" %}

{% block body %}
  {% if session.username %}
  
  {% include "list_current_inventory.html" %}
  
  <h3>Supply lines</h3>
  <table class="inventory">
    <thead>
      <tr>
        <th>User</th>
        <th>Items</th>
        <th>Paths</th>
      </tr>
    </thead>
    <tbody>
    {% for rec in paths %}
    <tr>

      <td> {{ rec.terminus.agent_name}} </td>
      <td>
        <table>
          {% for item in rec.inventory%}
            <tr>
              <td>{{ item.type  }}</td>
              <td>{{ item.level }}</td>
              <td>{{ item.value }}</td>
            </tr>
          {% endfor %}
        </table>
      </td>
      
      <td>
        <table>
          {% for path in rec.path%}
            <tr><td>{{ path | map(attribute='agent_name') | join(' --> ') }}</td></tr>
          {% endfor %}
        </table>
      </td>
      
    </tr>
    {% else %}
      No one within two "steps" of you needs gear you're offering.
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}